
body{
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    border: 1px solid red;
    display: grid;

}


header{
    display: flex;
    border: 1px solid red;
    
}

.titleContainer{
    flex-grow: 1;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.titleContainer h2,
.titleContainer p {
    margin: 0;
}

.titleContainer p{
    
    font-size: 18px;
}


.imageContainer{
    border: 1px solid red;
}

.imageContainer img{
    border: 1px solid red;
    padding: 10px;
    height: 100px;
    border-radius: 100%;
}

.about{
  
    display: flex;
    flex-direction: columns;
}

.about h3{
    border: 1px solid black;
    
}

.about article{
    padding: 5px;
    border: 1px solid red;
}

.Education{
    border: 1px solid red;
    
}

.SchoolContainer{
    display: flex;
    gap: 5px;
    padding: 10px;
    border: 1px solid blue;
}

.schoolname h3,
.schoolname p {
    margin: 3px;
}

.schoolname h3{
    font-size: 13px;
    font-weight: 700;
}
.schoolname p,
.yearConatiner p{
    font-size: 12px;
    color: rgba(58, 57, 57, 0.699);
}



.logoContainer{
    display: flex;
    align-items: center;
    border: 1px solid blue;
}

.logoContainer img{
    max-height: 50px;
    
}

.schoolname{
    border: 1px solid blue;
}

.yearConatiner{
    display: flex;
    border: 1px solid blue;
   
}